@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_cn_ltlight';
    src: url('../fonts/proxima_nova_condensed_light-webfont.eot');
    src: url('../fonts/proxima_nova_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_condensed_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_condensed_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_condensed_light-webfont.svg#proxima_nova_cn_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Brush Script MT';
	src: url('../fonts/BrushScriptMT.eot');
	src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrushScriptMT.woff') format('woff'),
		url('../fonts/BrushScriptMT.ttf') format('truetype'),
		url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
* { padding:0; margin:0; outline:none; }
focus {outline:none;}
img { display:block; border:0; }
ul, li { padding:0; margin:0; }
h1, h2, h3, h4, h5, h6 {margin:0;}
p {margin: 2px 0; font:normal 0.875em/150% 'proxima_nova_rgregular', sans-serif; color:#333333;  }
html, body{  font-weight:normal; font-family: 'proxima_nova_rgregular'; font-size: 100%; background:#fff; color:#000; line-height:150%; }
.no-pr{padding-right: 0}
.no-pl{padding-left: 0}
.no-lr{padding:0;}

.container { width:1024px; padding:0 20px;}
.row { margin-right:-20px; margin-left:-20px;}



.wrapper, .banner, .tstore, .cartblk, .calus, .wellblk, .crpchoose, .rtfloblk, .crptslide, .pont, .mystor, .expert, .footer_c, .sor_blk, .againlt, .fot_cpy, .limblk, .rugpro_blk, .rugspro_blk, .rug_size, .carpetcall_slide, .parcel_blk, .feature_pro, .trade, .cbg_blk, .mmrugm, .page-sorry { padding:0; }




/* banner section start here ---*/
.banner { background:#15489f; padding:17px 0 0 0; position:fixed; z-index:99999; width:100%;}
.banner .col-md-12 {padding:0 20px;}
.banner .col-md-4 { width:28.2%}
.banner .col-md-12 .col-md-4:nth-child(2) { width:30.1%; margin:0 61px 0 21px; padding:0; }
.banner .col-md-12 .col-md-4:nth-child(3) { width:32.4%;}

.searchm { margin-top:11px;}
.searchm .form-control { height:45px; border-radius:0; border:0; color:#000; font-size:16px; font-weight:700; text-align:left; text-transform:uppercase; -webkit-box-shadow:none; box-shadow:none;}
.searchm .btn { background:#FFF; border-radius:0; border:0; padding:11px 12px 12px 12px; outline:none; width: 100%; margin: 0}
.input-group-btn:last-child>.btn{margin: 0}
.searchm .btn img{margin: 0 auto;}
.searchm .input-group-btn{width: auto; margin: 0}
.searchm .btn:active, .searchm .btn:focus { outline:none; background:#FFF; box-shadow:none;}
.callinfo { position:relative;}
.calme { margin:0; font-family:'proxima_nova_ltsemibold', sans-serif;  color:#FFF; text-transform:uppercase; -webkit-font-smoothing:antialiased; text-rendering:optimizelegibility; white-space:inherit; font-size:2.187em; }
.callmea a { text-decoration:none; color:#FFF; }
.callmea a:hover { color:#faf9f9;}
.subcl { font:700 12px 'proxima_nova_rgregular', sans-serif; color:#FFF; margin:0; text-transform:uppercase; letter-spacing:1px;width: 200px;}
.contblk { position:absolute; bottom:-1px; right:0px; display:inline-block }
.contblk a { padding:2px 13px; background:#c32327; text-align:center;color:#FFF; font-size:13px; text-decoration:none; text-transform:uppercase; display:block;}
.contblk a:hover {background:#b01519;}
.navsrchblk { margin-top:12px;}
.navsrchblk .col-md-12 .col-md-7 { width:60.4%; }
.navsrchblk .col-md-12 .col-md-3:nth-child(2) { width:21.5%; margin-left:23px; }
.navsrchblk .col-md-12 .col-md-2:nth-child(3) {     width: 17.7%;
    margin-left: 0;
    margin-right: -20px;
    float: right; }
.navsrchblk .col-md-12 .col-md-2:nth-child(3) li#woo_control{
	height: 50px;
}
.navsrchblk .col-md-12 .col-md-2:nth-child(3) li#woo_control > a{padding-right: 20px;
    padding-left: 20px;
    line-height: 50px;}
	.navsrchblk .col-md-12 .col-md-2:nth-child(3) li#woo_control > a .mcrt{margin: 0}
	.navsrchblk .col-md-12 .col-md-2:nth-child(3) li#woo_control > a .mcrt img{position: relative; top: 15px;}
	ul#mywoosection li.dropdown.open > a{background-color: #0099ff;}
	ul#mywoosection ul.dropdown-menu{ margin-top: 0}

.sfind { font:bold 28px/148% 'proxima_nova_ltsemibold', sans-serif; color:#FFF;}
.sfind .col-md-8 { padding-left:20px; padding-right:20px;}
#directory_list_id_s .col-md-8 { padding-left:0;}
#directory_list_id_s .col-md-4 { padding-right:0;}
#directory_list_id_s p strong { font-size:12px;}
.mcrt { position:relative; margin:10px 0 0 0;}
.crrt { font:bold 1.062em/150% 'proxima_nova_ltsemibold', sans-serif; color:#FFF; margin-left:18px; text-transform:uppercase; letter-spacing:1px;}
.rnkct { position:absolute; left:20px; top:-7px;}
.rnkct .badge { background:#c32327; }

/*............ store finder menu css ..............*/
/* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
	background-color:transparent;
	text-transform:uppercase;
	border-radius:0;
	letter-spacing:1px;
	height:50px;
	padding:0;
	outline:none;
	padding-left:10px;
	padding-right: 10px;
	
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	z-index:99999;
	width:100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content { 
	display:none;	 
    position: absolute;
    background-color: #0099ff;
    min-width: 359px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;	
}


/* Show the dropdown menu on hover */
.dropdown.click-open .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown.click-open .dropbtn {
    background-color:#0099ff;
	width:auto;
	margin:0;

}
.srch_pro .col-lg-12 { padding-right:20px; padding-left:20px; }
.curlocate input  { background:#15489f; border:0; width:100%; padding:15px 20px; text-align:center; color:#FFF; font:bold 16px 'proxima_nova_rgregular', sans-serif; text-decoration:none; }
.input-group  { width:100%; border:1px solid #a6a6a6;}
ul#directory_list_id  {margin:10px 0; list-style:none; background:#fff; color:#000; font-size:16px;}
ul#directory_list_id li { list-style: none; display:block; float:none; cursor:pointer; padding:0 10px; }
#directory_list_id_s  { background:#fff; margin:-10px -10px 0; padding:10px 20px; display:none; }
.nav>li>a { padding:0; background:none; }
.nav>li>a:focus, .nav>li>a:hover { background:none; text-decoration:none;}
.navbar-right { margin:0; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background:none; border-color: transparent; }
.dropdown-menu { min-width:350px;}
.navbar-nav>li>.dropdown-menu { margin-top:13px; border-radius:0; padding:0; border:0; min-width:340px; width:100%;}
.dropdown-menu>li { border-bottom:1px solid #e2e2e2;}
.mycrt_blk { font:bold 16px/300% 'proxima_nova_rgregular', sans-serif; color:#1858b8; text-transform:uppercase; padding-left:20px; }
.crtblk_sec { padding:0 20px; }
.crt_pname { float:left; max-width:100%; margin:12px 0; }
.crt_price { float:right;}
.crt_pname h2, .crt_pname h3 { margin:0; font:bold 12px 'proxima_nova_rgregular', sans-serif; color:#666666; text-transform:uppercase;  }
.crt_pname h3 { font-weight:normal; }
.rugcl { color:#c32327;}
.crt_price { margin:12px 0; }
.crt_price h4 { font:bold 16px 'proxima_nova_rgregular', sans-serif; color:#666666; text-transform:uppercase; text-align:center; }
.crt_pname h5 {font:bold 16px 'proxima_nova_rgregular', sans-serif; color:#1858b8; text-transform:uppercase; margin-left:150px; }
.crt_clear { background:#e7edf8; padding:20px; }
.view_c { background:#0a71cf; display:inline-block; float:left; margin-left: 65px;}
.view_cc a, .check_crtt a { padding:8px 16px; display:block; text-align:center; font:normal 13px 'proxima_nova_rgregular', sans-serif; color:#FFF; text-transform:uppercase; text-decoration:none; }
.view_cc a:hover { background:#0661b5;}
.check_crt { background:#c02226; display:inline-block; float:right; }
.check_crtt a:hover { background:#a60a0e;}
.crt_pname a { color:#666666; text-decoration:none;}
.crt_pname a:hover { color:#666666;}

.loctitle, .loplc h3 {font:bold 15px/150% 'proxima_nova_rgregular', sans-serif; color:#15489f; text-align:left; }
.sfind address { font:normal 12px/150% 'proxima_nova_rgregular', sans-serif; color:#333333; text-align:left; text-transform:uppercase; margin:15px 0 0 0;}
.sfind p { font:normal 13px/150% 'proxima_nova_rgregular', sans-serif; color:#666666; margin-top:15px; }
.morepl a {font:normal 13px/150% 'proxima_nova_rgregular', sans-serif; color:#003399; text-align:left; margin-bottom:10px; text-decoration:none; padding:0; margin-top:18px; }
.morepl a:hover { color:#F00;}

.loplc { text-align:left; padding:10px;}
.loplc h3 { font-size:15px; color:#FFF; letter-spacing:1px; }
.srch_pro { margin:8px 0; max-width:100%;}
.srch_pro .form-control { border:0; border-radius:0; padding: 21px 12px; height:48px; text-transform:uppercase; text-align:left; outline:none; }
.srch_pro .btn-default { background-color:#FFF; border-color:#FFF; border-radius:0; padding:12px 12px;  outline:none;}
.srch_pro .input-group-btn { margin:0;}
.curnloc { margin:10px 0; display:block; background:#15489f; }
.curnloca a { padding:15px 20px; text-align:center; color:#FFF; font:bold 16px 'proxima_nova_rgregular', sans-serif; text-decoration:none; }
.curnloca a:hover { background:#15489f; }

/*........... carpetcall slide start here .................*/
.carpetcall_slide { margin-top:145px; }
.carpetcall_slide { position: relative; }
.carpetcall_slide .slider_overlay{position:absolute; top: 0; left: 0; right: 0; bottom: 0;z-index: 7;background: #fff}
.carpetcall_slide .slider_overlay img{ position:absolute; top:50%; left:50%; background:#fff; z-index: 10; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.feature_pro{ position: relative;}
.feature_pro .featured_overlay{ position:absolute; top:0; left:0; right:0; bottom:0; background:#fff; z-index: 10; }
* { box-sizing: border-box;}

.slider { min-width:1024px; height: 351px; margin:0 auto; overflow:hidden;}

.slider .slick-slide { margin: 0 10px; padding: 0; outline:none; }

.slider .slick-slide img { width: 100%; }

.slider .slick-prev:before, .slider .slick-next:before { color: black; }
.slider .slick-prev { left:23%; width: 32px;  height: 54px;  border: 1px solid #d1ddf1;  background: #fff;  border-radius: 0; z-index: 10; }
.slider .slick-next { right:23%; width: 32px;  height: 54px;  border: 1px solid #d1ddf1;  background: #fff;  border-radius: 0; z-index: 10; }
.slider .slick-dots li.slick-active button:before { opacity:1; color:#15489f; }

.slider .slick-dots li button:before { opacity:.75; color:#C7C7C7;}

.hamro { position:absolute; top:50px; right:195px;display: none;}
.hamro h3, .hamro h4 { font:700 36px 'Proxima Nova Bl', sans-serif; color:#0a71cf; text-shadow:0px 0.1px 1px #fff; }
.hamro h4 { font-size:24px; }
h5.tryit.tryita { width:220px; height:45px;}
.tryit { background:#c32327; display:inline-block; margin:12px 0 0 0; }
.tryita a { padding:12px 40px; display:block; text-align:center; color:#FFF; font:normal 18px 'proxima_nova_rgregular', sans-serif; text-decoration:none; text-transform:uppercase;}
.tryita a:hover {background:#a71014;}

.carpetcall_slide .slider .slick-prev:before{
		content: '\f104';
		font-family: FontAwesome;
		font-size:36px;
		color: #15489f;
		font-weight:normal;
		}
		
		.carpetcall_slide .slider .slick-next:before{
		content: '\f105';
		font-family: FontAwesome;
		font-size:36px;
		color: #15489f;
		font-weight:normal;
		}
		.center.slider{position: relative;}
.center.slider:before { 
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 23%;
	z-index: 100;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.center.slider:after { 
content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 23%;
		z-index: 100;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}


		.tryitwob a { font-weight:700; color:#14489c; text-transform:lowercase; font-size:24px; padding:10px 0; text-align:left; display:inline-block;}
		.tryita a:hover { background:none; text-decoration:none; outline:none;}

/*.................. offer and delivery start here ..................*/
.meroshop {margin:0; z-index: 12; position: relative;}
.shopping { box-shadow:0px 0px 10px #999999; background:#FFF; padding:10px; position:relative; top:-25px; height:90px; }
.aag{min-height: 68px; z-index:12; position:relative;}
.so_title, .aag p { margin-left:70px;}
.aag_ab, .aag_a p { margin-left:65px; }
.so_titlee a, .aag_ab a, .aag_cdd a { font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#1858b8; text-decoration:none;}
.so_titlee a:hover, .aag_ab a:hover, .aag_cdd a:hover {color:#333;}
.aag p, .aag_a p, .aag_c p {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666;}
.merof { font-size:16px; font-weight:700; color:#c32327; }
.aag_cd, .aag_c p { margin-left:53px;}
.aag_c p { margin-bottom:22px;}
.meroshop .col-md-12 .col-md-4{padding: 0 10px;}

.meroshop .col-md-4:nth-child(1) .aag img{ width:37px; height:49px; margin-left:12px; margin-top:8px; }
.meroshop .col-md-4:nth-child(2) .aag img{ width:52px; height:45px; margin-left:12px; margin-top:10px; }
.meroshop .col-md-4:nth-child(3) .aag img{ width:41px; height:43px; margin-left:12px; margin-top:10px; }

.meroshop .col-md-4:nth-child(2) .aag .so_title { margin-left:80px;}
.meroshop .col-md-4:nth-child(2) .aag p { margin-left:80px;}

.meroshop .col-md-4:nth-child(3) .aag .so_title { margin-left:70px;}
.meroshop .col-md-4:nth-child(3) .aag p { margin-left:70px; padding-top:11px;}



/*.meroshop .col-md-12 .col-md-4:nth-child(1) .shopping{
	margin-right:10px;
}
.meroshop .col-md-12 .col-md-4:nth-child(2) .shopping{
	margin:0 15px;
}
.meroshop .col-md-12 .col-md-4:nth-child(3) .shopping{
	margin-left:10px;
}*/



/*............ callback section start here .....................*/
.calbk { margin-top:29px; }
.cpt_supt img {min-width:155px; min-height:129px; }
.bookcbk, .cptspl { font:bold 36px 'proxima_nova_ltsemibold', sans-serif; color:#c32327; text-transform:uppercase; }
.cptspl { font-size:18px; color:#15489f; margin:-7px 0 15px 2px; }
.suptlst li { list-style:none; display:block; margin:-1px 0 0 2px;}
.suptlst li::before { content: '-';}
.suptlst li a { font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666; text-decoration:none; text-transform:uppercase; padding-left:5px;}
.suptlst li a:hover { color:#000;}
.cptin { display:inline-block; }
.cptinn a {margin:42px 0 0 30px;  display:block; padding:10px 51px 11px 50px; background:#C32327; font:bold 18px 'proxima_nova_rgregular', sans-serif; text-decoration:none; color:#FFF; text-transform:uppercase; letter-spacing:1px; text-align:center; }
.cptinn a:hover {background:#b01519;}


/*........... featured products start here ......................*/

.feature_pro {background:#e7edf8}
.meropro_blk { margin:0 0 71px 0;}

.meropro_blk h1 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; margin:36px 0 9px 0; text-align:center; text-transform:uppercase; }
.pro_one, .pro_two, .pro_thr, .pro_for, .pro_fiv, .pro_six { background:#fff; padding: 10px; margin: 10px;}
.sublk_prom { margin:22px 0 16px 0;}
.ptxt { min-height:103px;}
.ptxt h3 { font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; padding-left:16px;}
.ptxt h4, .ptxt h5 { font:normal 14px 'proxima_nova_rgregular', sans-serif; color:#087bda; text-transform:uppercase; padding-left:16px;}
.ptxt h5 { font-weight:700;}
.nowsp { background:#bb2225; display:inline-block; width:181px; height:45px; margin-left:17px;}
.nowspp a { display:block; padding:12px 19px; text-align:center; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#FFF; text-transform:uppercase; text-decoration:none; }
.nowspp a:hover {background:#a9191c;}

.responsive .slick-dots { bottom:-45px; }
.responsive .slick-prev {left:-1.3%; width: 32px;  height: 54px;  border: 1px solid #d1ddf1;  background: #fff;  border-radius: 0; }
.responsive .slick-next {right:-1.3%; width: 32px;  height: 54px;  border: 1px solid #d1ddf1;  background: #fff;  border-radius: 0; }
.responsive .slick-prev:before{
		content: '\f104';
		font-family: FontAwesome;
		font-size:36px;
		color: #15489f;
		font-weight:normal;
		}
.responsive .slick-next:before{
		content: '\f105';
		font-family: FontAwesome;
		font-size:36px;
		color: #15489f;
		font-weight:normal;
		}
.img_cntr {background-position:center center; background-size:cover; min-height:127px;  }

.responsive .featured_overlay{position:absolute; top: 0; left: 0; right: 0; bottom: 0;z-index: 7;background: #fff}
.responsive .featured_overlay img{ position:absolute; top:50%; left:50%; background:#fff; z-index: 10; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }



/*............. idea and advice start here .................*/
.thought_blk { margin:42px 0 61px 0;}
.thought_blk h2, .hamro_trade h2 { font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-align:center; text-transform:uppercase; }
.thought_blk h2 { margin:0 0 30px 0;}
.hamro_trade h2 { margin:55px 0 30px 0;}

.rmvisual, .guide_a, .care_pro, .faq_blk { position:relative;}
.rmblk_cont, .inner_cont, .quest_cont {position:absolute; top:15px; left:15px;}
.rmblk_cont h3, .inner_cont h4, .quest_cont h4 { font:bold 20px 'proxima_nova_ltsemibold', sans-serif; color:#fff; margin:0 0 10px 0; }
.rmblk_cont p { font:normal 16px/150% 'proxima_nova_rgregular', sans-serif; color:#fff; margin:10px 171px 10px 0; }
.trynow {font:bold 16px 'proxima_nova_ltsemibold', sans-serif;  color:#fff; }
.trynoww a {  color:#fff; text-decoration:none;}
.trynoww a:hover { color:#FF0;}

.guide_a, .faq_blk { margin-top:11px;}
ul.guide_list { margin:0; padding:0; }
ul.guide_list li {list-style:none; display:block;}
ul.guide_list li a {font:normal 16px/150% 'proxima_nova_rgregular', sans-serif; color:#fff; text-decoration:none;}
ul.guide_list li a:hover { color:#FF0;}
ul.guide_list .fa { color:#F00;}
.idea-left{padding-left: 20px;padding-right: 9px}
.idea-right{padding-right: 20px;padding-left: 9px}

/*........... expert trade start here ..............*/
.trade { background:#e7edf8; }
 .abvist { margin:45px 0 34px 0;}
.measure_blk { padding:0;}
.measr_cnt { margin-top:48px; min-height:155px;}
.measr_cnt h3 {font:bold 20px 'proxima_nova_ltsemibold', sans-serif; color:#1858b8; margin-bottom:12px;}
.frcol { color:#c32327; }
.measr_cnt p {font:normal 16px/150% 'proxima_nova_rgregular', sans-serif; color:#666666; margin:10px 0;}
.find_tb { background:#c32327; display:inline-block; margin:0 0 80px 0; width:220px; height:45px; }
.find_tbb a { display:block; padding:12px 0; text-align:center; color:#FFF; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; text-decoration:none;}
.find_tbb a:hover { background:#b01519;}

/*............... about and visit start here ....................*/
.intro, .stmap { padding:0; max-width:90%; }
.intro h1, .stmap h2 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; margin:0 0 22px 0; text-transform:uppercase; }

.intro p {font:normal 16px/150% 'proxima_nova_rgregular', sans-serif; color:#666666; margin:6px 0 12px 0;}
.rmore { margin:15px 0;}
.rmoree a {font:600 16px 'proxima_nova_rgregular', sans-serif; color:#1858b8; text-decoration:none;}
.rmoree a:hover {color:#15489f;}
.abvist.col-md-6:nth-child(1) { padding-left:0;}



/*.............. footer section start here ...............*/
.footer_c { background:#15489f; }
.fot_logo { width:42.5%; height:59px; margin:29px 0 46px 0;}
.subcat { margin-bottom:15px;}
.footlist, .carptfot_aa { margin:0; padding:0;}
.carptfot { margin:2px 0; }
.footlist li { list-style:none; display:inline-block;}
.fotgrid { width:33.33%; }
.carptfot li, .carptfot_aa li { list-style:none; display:block;}
.carptfot li::before { content: '-';}
.sourblk, .clbk { font:bold 13px 'proxima_nova_ltsemibold', sans-serif; color:#fff; }
.carptfot li a, .carptfot_aa li a { font:normal 12px/174% 'proxima_nova_rgregular', sans-serif; color:#fff; text-transform:uppercase; text-decoration:none; letter-spacing:1px;}
.carptfot li a:hover, .carptfot_aa li a:hover { color:#FF0;}
li.clblk_a::before {content: '';}
.clbk { margin:10px 0;}
.carptfot_aa { -webkit-column-count: 2; }

.footlist li .clblk_a a {font-weight:bold; cursor:text; letter-spacing:1px;}
.footlist li .clblk_a a:hover, .sourblk:hover { color:#FF0; text-decoration:none; cursor:pointer;}
#menu-footer .col-md-6 {padding:0;}
.fcnt-or { margin:35px 0 0px 0;}
.fcnt-orr a { background:#c32327; padding:12px 55px; text-align:center; font:700 18px 'proxima_nova_ltsemibold', sans-serif; text-transform:uppercase; color:#fff; text-decoration:none; display:inline-block; }
.fcnt-orr a:hover {background:#b51a1d;}
.footlist .clblk_a { margin-top:19px !important;}
.footlist .col-md-3 { padding-left:0px !important; margin-top:-2px;}
.shp_blk, .shp_blk > a, .shp_blk > a span {
    cursor: default !important;
}
.shp_blk a:hover, .shp_blk a:hover span{color: #fff; text-decoration:none}

.social { margin:18px 0 0 0;}
.social li { list-style:none; display:inline-block;}
.social li:nth-child(2) { padding-left:0px;}
.social li a { font-size:18px; text-decoration:none; color:#FFF; padding:0px 5px 0 9px; }
.social li a:hover { color:#FF0; }
.gtku { color:#FFF; font-weight:700; font-size:13px; margin-right:7px;}
.calcall { font:normal 30px/100% 'Brush Script MT',sans-serif; color:#FFF; text-align:center; margin:44px 0 10px 0; -webkit-transform:  rotate(351deg);-moz-transform:  rotate(351deg);-o-transform:  rotate(351deg);writing-mode: lr-tb;}
.calspl  { margin:22px 0 14px 0;}
.calspll a {font:bold 17px 'proxima_nova_ltsemibold', sans-serif; color:#fff; text-decoration:none;}
.calspll a:hover { color:#FFF; }
.bcwfsp {font:normal 12px 'proxima_nova_ltsemibold', sans-serif; color:#fff; text-transform:uppercase; }
.againlt ul { margin:25px 0 2px 0;}
.againlt li { list-style:none; display:block; }
.againlt li::before { content: '-'; color:#FFF;}
.againlt li a { font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#fff; text-decoration:none;  }
.againlt li a:hover { color:#FF0; }
.fot_cpy ul { margin: -1px 0 22px 0;}
.fot_cpy li { list-style:none; display:inline-block; margin:-2px; }
.fot_cpy li a {font:normal 11px/150% 'proxima_nova_rgregular', sans-serif; color:#fff; text-decoration:none; padding:0 5px; border-right:1px solid #FFF; }
.fot_cpy li a.last-child { border-right:none;} 
.fot_cpy li a:hover { color:#FF0;}
.cpyrt {font:normal 11px/150% 'proxima_nova_rgregular', sans-serif; color:#fff; text-transform:uppercase; border-right:1px solid #FFF; padding-right:6px; }

.stmap:nth-child(1) .rmore { margin-top:339px;}

/*............. inner page section start here .................*/
.inerblock_serc { margin:155px 0 20px 0;}

/*.............. carpet buying guide start here ..................*/
.cbg_blk { background:#e6e6e6; margin-top:8px; }
.breadcrumbs .home { font-size:12px; text-transform:uppercase; text-decoration:none; color:#15489f;}
.breadcrumbs .post.post-guides-archive {font-size:12px; text-transform:uppercase; text-decoration:none; color:#15489f;}
.breadcrumbs {font-size:12px; text-transform:uppercase; text-decoration:none; color:#000;}
.breadcrumbs, .breadcrumbs .home, .breadcrumbs .post.post-guides-archive:hover { cursor:pointer;}
.breadcrumbs { margin-bottom:12px;}
.inerblock_serc h3, .inerblock_seC_mrugss h3 {font:normal 36px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; border-bottom:1px solid #627ab2; display:inline-block; line-height:25px; margin-bottom:13px;}
.ab_arrow { font-size:25px; margin-right:6px;}
.inerblock_sec { margin-top:19px; }
.nowspe { background:#bb2225; display:inline-block; width:231px; height:45px;}
.nowsppe a { display:block; padding:12px 19px; text-align:center; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#FFF; text-transform:uppercase; text-decoration:none; }
.nowsppe a:hover {background:#a9191c; cursor:pointer;}
.cbg_content { padding-left:17px;}
.cbg_content p {font:normal 16px/24px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:0 0 24px 0;}
.inerblock_sec_a { background:#e7edf8; margin-top:52px; padding-bottom:61px; }
.inerblock_sec_a h3 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; margin:33px 0 26px 0; text-transform:uppercase;}
.you_may_link_cntr{padding: 0 10px;}
.you_may_link_cntr .col-md-4{padding: 0 10px;}
.pro_secone { background:#FFF; padding:16px 20px; }
.mero_itemss { margin:24px 0 18px 0;}
.proabtxt { min-height:50px; clear:both; }
.proabtxt h4{font:bolder 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-left:3px;}
.proabtxt h5{font:normal 12px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-transform:uppercase; margin-left:3px;}

ul.guide_list_cbg { background:#e7edf8; padding:28px; margin-bottom:21px;}
ul.guide_list_cbg li {list-style:none;}
ul.guide_list_cbg li .fa { float:right; margin-top:8px; color:#c32327; }
ul.guide_list_cbg li a {font:bold 14px/29px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-decoration:none; text-transform:uppercase; display:block; margin-bottom:5px;}
ul.guide_list_cbg li a:hover { color:#15489f; cursor:pointer;}


/*.......... carpetcall faq start here ...................*/
.inerblock_sec_faq { margin:139px 0 38px 0;}
.breadcrumbs .home { font-size:12px; text-transform:uppercase; text-decoration:none; color:#15489f;}
.breadcrumbs .post.post-faqs-archive {font-size:12px; text-transform:uppercase; text-decoration:none; color:#15489f;}
.breadcrumbs {font-size:12px; text-transform:uppercase; text-decoration:none; color:#000;}
.breadcrumbs, .breadcrumbs .home, .breadcrumbs .post.post-faqs-archive:hover { cursor:pointer;}
.breadcrumbs { margin-bottom:12px;}
.inerblock_sec_faq h3 {font:normal 36px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; border-bottom:1px solid #627ab2; display:inline-block; line-height:25px; margin-bottom:13px;}
.ab_arrow { font-size:25px; margin-right:6px;}
.faq-cont-blka { padding:0;}
ul.guide_list_cfaq { background:#e7edf8; padding:28px;}
ul.guide_list_cfaq li { list-style:none;}
ul.guide_list_cfaq li .fa { float:right; margin-top:8px; color:#c32327;}
ul.guide_list_cfaq li a { display:block; font:bold 14px/29px 'proxima_nova_ltsemibold',sans-serif; color:#15489f; text-decoration:none; text-transform:uppercase; margin-bottom:10px;}
.faq-cont-blka .col-md-9 { padding-left:5px;}
.cont-panl { border-top:1px solid #efefef;}
.panel-group .panel{ border-radius:0; border-left:0; border-right:0; border-top:0; border-bottom:1px solid #efefef; box-shadow:none; -webkit-box-shadow:none;}
.faq-cont-blka .panel-default>.panel-heading, .faq-cont-blka .panel-default>.panel-heading+.panel-collapse>.panel-body { background:none; border:none; border-radius:0; padding: 0}
.faq-cont-blka .panel-default>.panel-heading+.panel-collapse>.panel-body{padding:0 15px 15px 15px;}
.faq-cont-blka .panel-default>.panel-heading a{position: relative;width: 100%;display: block;padding: 15px; text-decoration:none; color:#0099ff; font:bold 18px 'proxima_nova_ltsemibold',sans-serif; text-transform:uppercase; }
.faq-cont-blka .panel-body p {font:normal 18px/21px 'proxima_nova_rgregular', sans-serif; color:#666666; margin-right:30px;}
.faq-cont-blka .glyphicon-chevron-down:before{
		content: '\f107';
		font-family: FontAwesome;
		font-size:24px;
		color: #15489f;
		font-weight:normal;
		padding-right:45px;
		}
.faq-cont-blka .glyphicon-chevron-up:before{
		content: '\f106';
		font-family: FontAwesome;
		font-size:24px;
		color: #15489f;
		font-weight:normal;
		padding-right:45px;
		}
/*................ Inner Featured Product start here ...................*/
.inerblock-sec-prod-a { margin:145px 0 0px 0; }
.woocommerce-breadcrumb a.breadcrum-link-2, .woocommerce-breadcrumb a.breadcrum-link-3, .woocommerce-breadcrumb a.breadcrum-link-4, .woocommerce-breadcrumb a.breadcrum-link-5 { font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#15489f; text-decoration:none; text-transform:uppercase;}
.woocommerce .woocommerce-breadcrumb { margin:16px 0 9px 0;}
.woocommerce-breadcrumb a.breadcrum-link-5 { color:#666; }
.woocommerce-breadcrumb a.breadcrum-link-2, .woocommerce-breadcrumb a.breadcrum-link-3, .woocommerce-breadcrumb a.breadcrum-link-4:hover { cursor:pointer;}
.images .cc-category-show { font:bold 30px 'proxima_nova_ltsemibold',sans-serif; color:#15489f; text-transform:uppercase; margin-bottom:11px; }
.woocommerce-page div.product div.images { width:56%; }
.images .main-image-wrapper > a.woocommerce-main-image, .images .main-image-wrappe > a.woocommerce-main-image img{ max-height:373px; display:block; }
.images .main-image-wrapper {position:relative;}
 .main-image-wrapper {min-height:373px;}
.main-image-wrapper a img {min-height:373px;}
.main-image-over-wrapper { position:absolute; right:0; bottom:36px; pointer-events: none;}
.woocommerce div.product div.images div.thumbnails { padding-top:0.75em;}
.thumbnails.columns-3 > a.first img,  a.zoom img{ min-width:175px; max-height:115px; }
.woocommerce-page div.product div.thumbnails a { margin-right:3.4%; margin-bottom:30px; }
.mod-social { display:inline-block; padding:0;}
.mod-social .cc-share-title{ float:left; font:bold 16px/25px 'proxima_nova_ltsemibold',sans-serif; color:#666666; margin-right:5px;}
.images .mod-social a{ padding:0 10px 0 0;}
.images .mod-social a .fa { font-size:20px; color:#15489f; }
.woocommerce-page div.product div.summary { width:40.6%; margin-top:43px; }
.cc-price-control .cc-sale-price-title {font:bold 30px 'proxima_nova_ltsemibold',sans-serif; color:#0099ff; text-decoration:none; text-transform:uppercase; }
.cc-price-control .cc-line-through{font:normal 14px 'proxima_nova_rgregular', sans-serif; color:#c32327; text-decoration:line-through; text-transform:uppercase;}
.summary.entry-summary h3{font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#0099ff; text-transform:uppercase;}
.summary.entry-summary .product_title.entry-title {font:bold 12px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-transform:uppercase;}
.summary.entry-summary .cc-related-product-design-section h3{font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin:18px 0 3px 0;}
.cc-select-design-pro-all.col-md-12 { padding:0; font-size:0;margin: 0 -5px;}
.cc-size-section.col-md-12, .cc-quantiy-section.col-md-12, .quantity.col-md-12, .cc-product-enquiry.col-md-12, .cc-product-ship-free-section.col-md-12, .cc-product-ship.col-md-6, .cc-product-free.col-md-6, .cc-product-pick-location-section.col-md-12, .cc-product-pick.col-md-6, .cc-product-location.col-md-6 { padding:0;}
.modal-dialog{ margin-top:200px; width:817px;}
.modal-content { border-radius:0; border-color:#e7edf8;}
.modal-title {font:bold 30px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase;}
.modal-header { padding:18px 29px 24px 32px; border:none;}
.modal-body { padding:0 29px 0 24px;}
.fyns-blk {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-left:15px;}
.frm-blk { padding:9px 0 36px 0;}
.modal-body .frm-blk .input-group .btn { width:45%;}
.frm-blk .input-group { width:62.9%; border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0;}
.frm-blk .input-group .form-control { width:100%; height:45px; border:0; border-radius:0; outline:0; background-color:#e7edf8;}
.frm-blk .input-group .btn { float:right; height:45px; border:0; border-radius:0; outline:0; background-color:#e7edf8; } 
.midlt {font:bold 12px 'proxima_nova_ltsemibold', sans-serif; color:#a8a8a8; text-transform:uppercase; text-align:center; padding:0 16px;}
.frm-blk .btn { font:bold 14px 'proxima_nova_ltsemibold', sans-serif; color:#fff; text-transform:uppercase; text-align:center; background-color:#c32428; border-radius:0; border:0; height:45px; width:29.6%;  }
.nearstore, .nearstore-a {padding:0 0 35px 0;}
.clostor-blk {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; padding-bottom:10px;}
.nearstore .col-md-12, .nearstore-a .col-md-12{ padding:0;}
.nearstore .col-md-12 .col-md-4:nth-child(1), .nearstore-a .col-md-12 .col-md-4:nth-child(1) { width:31.2%;}
.nearstore .col-md-4:nth-child(2), .nearstore-a .col-md-4:nth-child(2) { width:31.2%; margin:0 26px 0 22px; }
.nearstore .col-md-4:nth-child(3), .nearstore-a .col-md-4:nth-child(3) { width:31.2%; }
.str-one { border:1px solid #e7edf8; padding:33px 25px 30px 26px;}
.str-one h4 {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#0099ff; text-transform:uppercase; margin-bottom:10px;}
.str-one p {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; line-height:24px; margin:0;}
.modal-dialog button.close{position: absolute; top: -1px; right: -1px;height: 44px;width: 44px;background: #15489f;opacity: 1;border-radius: 0;margin: 0;color: #fff;}

.str-two { border:1px solid #e7edf8; padding:33px 25px 30px 26px; min-height:216px;}
.str-two h4 {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#0099ff; text-transform:uppercase; margin-bottom:10px;}
.str-two p {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; line-height:24px; margin:0;}
.str-two h5 {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#144a9f; line-height:24px; margin:0;}
.pclt { font-weight:700; color:#0296ff;}
.nearstore .col-md-4:nth-child(1) .str-two h5 { margin-top:24px;}
.nearstore-a .col-md-4:nth-child(1) .str-two h5 { margin-top:24px;}
.nearstore-a .col-md-4:nth-child(2) .str-two h5 { margin-top:24px;}








/*.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(1) { width:18%; margin:0 10px 10px 0; float:left;text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(4) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(5) { width:17.9%; margin:0 0 10px 0; float:left; text-decoration:none;}
.xt-decoration:none; }
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(2) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(3) { width:18%; margin:0 10px 10px 0; float:left; tesummary.entry-summary .col-md-12 .select-design-product-image:nth-child(6) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(7) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(8) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(9) { width:18%; margin:0 10px 10px 0; float:left; text-decoration:none;}
.summary.entry-summary .col-md-12 .select-design-product-image:nth-child(10) { width:17.9%; margin:0 0 10px 0; float:left; text-decoration:none;}
*/
.summary.entry-summary .col-md-12 .select-design-product-image{width: 20%;float: none;display: inline-block;padding:5px; vertical-align:top; position:relative; z-index: 10;}
.summary.entry-summary .col-md-12 .select-design-product-image:after { content:''; position:absolute; width:100%; height:100%; border:5px solid #0099ff; border-radius:3px; top:0; left:0; display:none; z-index:-1;}
.summary.entry-summary .col-md-12 .select-design-product-image.pro-active::after {display: block;}
.summary.entry-summary .col-md-12 .select-design-product-image a{position: relative;z-index: 11;}
.summary.entry-summary .col-md-12 .select-design-product-image:hover:after { display:block;}
.cc-size-quantity-section .cc-size-section h3{font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin:9px 0 16px 0; }
select#cc-size { height:45px; border:1px solid #d1ddf1; background:#e7edf8; font-size:16px; color:#1858b8; font-weight:700; width:84.7%; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-image:url(../images/icon.jpg); background-repeat:no-repeat; background-position:100% 0%;}
.cc-size-quantity-section .cc-quantiy-section h3 {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin:10px 0 0 0;}
#quantity-control { width:56.1% !important; height:45px; border:1px solid #d1ddf1; background:#e7edf8; font-size:16px; color:#1858b8; font-weight:700; padding-left:15px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-image:url(../images/icon.jpg); background-repeat:no-repeat; background-position:100% 0%;}
.woocommerce a.button { background:#e19193; text-align:center; padding:.618em 1em !important; color:#FFF; text-transform:uppercase; width:83.7%; height:45px; line-height:24px; margin:16px 0; border-radius:0;}
.woocommerce a.button:hover { background:#df8a8c; color:#333;}
.cc-product-enquiry .btn-default{ width:83.7%; height:43px; border-radius:0; border:1px solid #15489f; text-align:center; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin:0 0 16px 0;}
.cc-product-enquiry .btn-default:hover { background:#15489f; color:#FFF;}
.cc-product-ship {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-bottom:22px;}
.cc-product-ship .fa { margin-left:9px;}
.cc-product-ship span { border-bottom:1px solid #15489f;}

.cc-product-ship:hover { color:#000; cursor:pointer;}
.cc-product-free {font:bold 12px 'proxima_nova_ltsemibold', sans-serif; color:#3aaa35; text-transform:uppercase; line-height:34px; }
.cc-product-free:hover { color:#060; cursor:pointer;}
.cc-product-pick .btn{font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-transform:uppercase; text-align:left; border:0; border-radius:0; -webkit-box-shadow:none; box-shadow:none; outline:0; padding-left:0;}
.cc-product-pick .btn:hover { color:#000; cursor:pointer; background-color:transparent; -webkit-box-shadow:none; box-shadow:none; outline:0;}
.cc-product-pick .btn-default:focus { background-color:transparent; }
.cc-product-location  {width:33.3%; height:29px; background:#FFF;}
.cc-product-location .btn-default {color:#15489f; border-color:inherit; border-radius:0; border:1px solid #15489f; font-size:12px; font-weight:700;}
.cc-product-location .btn-default:hover {background:#15489f; color:#FFF;}
.cc-quantiy-section .quantity { margin:4px 0 5px 0;}
.summary.entry-summary .cc-product-ship-free-section { margin:11px 0 0 0;}
.summary.entry-summary .cc-product-pick-location-section { margin:1px 0 0 0;}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{display: none;}
.woocommerce div.product .woocommerce-tabs ul.tabs{overflow: visible;border-bottom: 1px solid #d3ced2;padding: 0;font-size: 0}
.woocommerce div.product .woocommerce-tabs ul.tabs li {border-radius:0; background-color:#FFF; position: relative; border: 0;margin: 0;font-size: 16px; padding:0 30px;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before { display:none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {     
	content: '';
    border: 0;
    box-shadow: none;
    width: 85%;
    left: 50%;
	bottom: auto;
    background: #0099ff;
    height: 6px;
    right: auto;
	border-radius:0;
	display:none;
	transform:translateX(-50%);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { color:#15479c;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a { color:#15479c; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after{display: block}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover:after{display: block}
.woocommerce div.product .woocommerce-tabs .panel { margin:0 125px 0 0;}
div#tab-additional_information p { margin:13px 0; }
.panel { border:0; border-radius:0; -webkit-box-shadow:none; box-shadow:none; outline:none;}
.detail-heading-item {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#15479c; text-transform:uppercase; margin:20px 0 0 0;}
.panel.entry-content.wc-tab p { font:normal 16px/21px 'proxima_nova_rgregular', sans-serif; color:#333333; margin:13px 0;}
.panel-body-faq { margin:0 45px 0 0; }
ul.specific-list { margin:0; padding:0;}
ul.specific-list li { list-style:none; display:block; font:normal 16px/26px 'proxima_nova_rgregular', sans-serif; color:#333333;}
ul.specific-list li span { font-weight:700; color:#333333;}
.panel.entry-content.wc-tab .panel-default>.panel-heading { background: none;
    border: none;
    border-radius: 0;
    padding: 0;}
.panel.entry-content.wc-tab .panel-default>.panel-heading a{ position: relative;
    width: 100%;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #0099ff;
    font: bold 18px 'proxima_nova_ltsemibold',sans-serif;
    text-transform: uppercase;}
.panel.entry-content.wc-tab .panel-default>.panel-heading+.panel-collapse>.panel-body{ padding:0 15px 15px 15px;}
.panel.entry-content.wc-tab .glyphicon-chevron-down:before{
		content: '\f107';
		font-family: FontAwesome;
		font-size:24px;
		color: #15489f;
		font-weight:normal;
		padding-right:45px;
		}
.panel.entry-content.wc-tab .glyphicon-chevron-up:before{
		content: '\f106';
		font-family: FontAwesome;
		font-size:24px;
		color: #15489f;
		font-weight:normal;
		padding-right:45px;
		}
.panel.entry-content.wc-tab .panel-group .panel-heading+.panel-collapse>.panel-body { border:0; }
.main-image-over { position:relative; bottom:-37px;  z-index:9999; }

/*....... Modern Rugs start here ..................*/
.inerblock_seC_mrugss{ margin:145px 0 20px 0;}
.mmrugm { background:#e6e6e6; }
.cc-product-term { font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#666666; text-transform:uppercase; text-decoration:none;}
.cc-product-term:hover {color:#000; cursor:pointer;}
section#main { margin:18px 0 19px 0;}
.inerblock_seC_mrugss h3 {margin-top:3px;}
.tophead_sec { margin:20px 0 8px 0; border-bottom:1px solid #efefef; padding-bottom:4px;}
.rugm-blk p { font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-transform:uppercase;}
.cc-count-clear a {font:bold 12px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; text-decoration:underline;}
.cc-count-clear a:hover { color:#333; text-decoration:none;}
.cc-count-label {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#666666;}

.cc-product-sort li { list-style:none; display:inline-block;}
.cc-product-sort li a {font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-decoration:none; border-bottom:3px solid #0099ff;}
.cc-product-sort li a:hover {border-bottom:3px solid #15489f; cursor:pointer;}
.cc-cat-pro-section-left.col-md-3.no-lr { width:23.5%;}
.cc-pro-sub-cat-ul.guide_list_cbg h3 {font:bold 16px 'proxima_nova_ltsemibold', sans-serif; color:#0099ff; text-transform:uppercase; border:0;}
.cc-color-var-section h3 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#666666; text-decoration:none; border-bottom:1px solid #efefef; padding-bottom:10px; margin:0 0 6px 0; width:100%; text-transform:none;}
.panel-group.cc-color-var .panel-default>.panel-heading { background-color:#FFF; padding:10px 0; }
.glyphicon-chevron-up:before {
	content:'\f106';
		font-family: FontAwesome;
		font-size:16px;
		color: #0099ff;
		font-weight:normal;

}
.panel-title>a {font:bold 16px 'proxima_nova_ltsemibold', sans-serif; color:#0099ff; text-transform:uppercase; text-decoration:none; margin-left:25px;}
a.pull-right { font:normal 10px 'proxima_nova_rgregular', sans-serif; color:#15489f; text-transform:uppercase; text-decoration:underline; margin-top:4px; }
a.pull-right:hover { color:#000; text-decoration:none;}
.panel-group .panel-heading+.panel-collapse>.panel-body { border:0; }
.cc-store-icon-label img{
     display: inline-block;
    margin-right: 5px;
}

/*............... 404 page not found start here ...............*/
.page-sorry { background-repeat:no-repeat; background-position:center top;}

/*............. ideas and advices start here .....................*/
.ia-block { background-color:#f0f2f1;}
.cc-ia-content h4 {font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#666666; text-transform:uppercase; margin-top:22px;}
.cc-ia-content h1 {font:bold 36px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-top:7px; margin-bottom:22px;}
.cc-ia-content p {font:normal 16px/22px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:0 80px 55px 0;}
.gpf-block { margin-top:43px;}
.all-items-blk { background-color:#e7edf8; padding:37px 36px;}
.all-items-blk h3, .fq-blk-a h3, .more-blk-b h3 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-top:-5px; margin-bottom:20px;}
.all-items-blk p, .fq-blk-a p {font:normal 16px/22px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:0 0 20px 0;}
.fq-blk-a, .more-blk-b { margin:23px 0 0 0; background-color:#e7edf8; padding:37px 36px; }
.inerblock_sec .cbg_content p {font:normal 16px/22px 'proxima_nova_rgregular', sans-serif; color:#666666;}
.ia-img { padding:0;}
.cc-ia-banner img { width:100%; height:275px;}

/*..................... inner child section start here .....................*/
.child-innerpg { background-color:#e6e6e6;}
.inerblock_serc_child { margin:145px 0 20px 0;}
.inerblock_serc_child .cc-breadcrumb { padding-top:20px; padding-bottom:11px;}
.inerblock_serc_child .cc-breadcrumb > span.cc-bread-root a, .inerblock_serc_child .cc-breadcrumb > span.cc-bread-parent a { font-size:12px; color:#000; text-transform:uppercase; text-decoration:none; }
.inerblock_serc_child .cc-breadcrumb > span.cc-bread-root a:hover, .inerblock_serc_child .cc-breadcrumb > span.cc-bread-parent a:hover { cursor:pointer;}
.inerblock_serc_child .cc-breadcrumb > span.cc-bread-current { font-size:12px; text-transform:uppercase; color:#0a71cf; text-decoration:none; }
.inerblock_serc_child h3 {font:bold 36px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; border-bottom:1px solid #6383b9; display:inline-block; margin-bottom:12px; line-height:26px;}
.cbg_content #guide_item_1, .cbg_content #guide_item_2, .cbg_content #guide_item_3 { font-weight:700; color:#0099ff; text-transform:uppercase; font-size:18px; letter-spacing:1px;}

/*........... clearance start here ...............*/
.inerblock_clearn { margin:137px 0 20px 0; }
.inerblock_clearn span {font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:26px 0 30px 0;}
.inerblock_clearn .breadcrumbs { padding:18px 0 2px 0; margin:0; }
.inerblock_clearn h3, .inerblock_contblk h3 {font:bold 36px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin-bottom:22px;}
.inerblock_clearn p {font:normal 16px/21px 'proxima_nova_rgregular', sans-serif; color:#666666; margin-right:28%; margin-bottom:15px;}
.inerblock_clernn { margin:45px 0 0 0; clear:both; float:left; }
.cbg_content.cc-clearance-wrapper { padding:0;}
.inerblock_clernn .col-md-12 { margin:0; padding:0 0 28px 0; border-bottom:2px solid #e7edf8;}
.inerblock_clernn .col-md-12:nth-child(2), .inerblock_clernn .col-md-12:nth-child(3) { margin-top:23px;}
.col-md-4.cc-clearance-left:nth-child(1) { padding-left:0; width:40.5%;}
.col-md-8.cc-clearance-right:nth-child(2) { padding-right:0; width:59.5%;}
.cc-clearance-right h4 { font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; margin:32px 0 12px 0;}
.cc-clearance-right p {font:normal 16px/21px 'proxima_nova_rgregular', sans-serif; color:#666666; margin-right:15%; margin-bottom:26px;}
.cc-clearance-row:nth-child(1) .cc-clearance-right .nowspe{ width:200px;}
.cc-clearance-row:nth-child(2) .cc-clearance-right .nowspe{ width:200px;}
.cc-clearance-row:nth-child(3) .cc-clearance-right .nowspe{ width:223px;}
.cc-clearance-row:nth-child(3) .cc-clearance-right .nowspe a{ font-size:17px;}
.cc-clearance-left iframe { min-height:260px; outline:0; border:0;}

/*.............. contact us page start here ..................*/
.inerblock_contblk { margin:137px 0 20px 0;}
.inerblock_contblk.cc-wrapper-whole .col-md-6 { padding-left:0;}
.inerblock_contblk .breadcrumbs { padding:18px 0 2px 0; margin:0;}
.inerblock_contblk span {font:normal 12px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:26px 0 30px 0;}
.inerblock_contblk h3 { margin-bottom:20px; }
.inerblock_contblk p {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:0 67px 19px 0;}
.cc-ia-banner-a img { width:100%; height:269px;}
.cc-ia-banner-a { background-repeat:no-repeat; background-size:cover; background-position:center center; height:269px; }
.cc-ia-banner {background-repeat:no-repeat; background-size:cover; background-position:center center; height:274px;}
.cc-form-wrapper { padding:0;}
.contact_form_cntr.col-md-12 { padding:0; margin:0;}
.form-group.cc-enquiry-section.col-sm-12 { padding:40px 0 14px; margin:0;}
.form-group.cc-enquiry-section.col-sm-12 h3 { font-weight:700; font-size:24px; color:#15489f; text-transform:uppercase; letter-spacing:1px;}
.inerblock_sec-bb { margin:0;}
.form-group.col-sm-6 { padding:0;}
.query-rlblk { background-color:#d1ddf1; padding:17px 33px 12px 31px; width:817px; }
.query-rlblk .form-group {margin:0; font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; line-height:45px; width:310px;}
select#cc-enquiry-type { width:442px; background-color:#e7edf8; border:1px solid #acc1e6; height:45px; text-transform:uppercase; color:#144a9f; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; background-image:url(../images/icon1.jpg); background-repeat:no-repeat; background-position:right; -webkit-appearance: none; -moz-appearance:none; appearance:none;}
.details-us h3 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#144a9f; margin:0; clear:both; padding:40px 0 34px; clear:both; }
.fl-blk, .mero-blkk, .tel-blk, #cc-store-form-section { clear:both; }
.fl-blk .col-sm-6:nth-child(1) { padding:0; width:28%; margin-bottom:18px;}
.fl-blk .col-sm-6:nth-child(2) { padding:0 0 0 10px; width:28%; margin-bottom:18px;}
.fl-blk label { color:#666666; font-size:16px; margin-bottom:9px; }
.fl-blk .form-control{ border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px; width:270px; -webkit-box-shadow:none; box-shadow:none; outline:0;}
.form-group.col-sm-12 { padding:0;}
.mero-blkk .form-group.col-sm-12 label { color:#666666; font-size:16px; margin-bottom:9px;}
.mero-blkk .form-group.col-sm-12 .form-control {border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px; width:56.5%; -webkit-box-shadow:none; box-shadow:none; outline:0; }
.tel-blk .form-group.col-sm-6 label { color:#666666; font-size:16px; margin-bottom:9px;}
.tel-blk .form-group.col-sm-6 .form-control {border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px; width:55%; -webkit-box-shadow:none; box-shadow:none; outline:0; }
#cc-store-form-section .form-group.col-sm-12 h3, #cc-state-form-section .form-group.col-sm-12 h3{font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; text-transform:uppercase; padding:32px 0 10px 0;}
#cc-store-form-section .form-group.col-sm-12 p {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; margin:0 0 7px;}
#cc-store-form-section .form-group.col-sm-4 { padding-left:0;}
select#cc-state-type { border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px; outline:0; box-shadow:none; text-transform:uppercase; -webkit-appearance:none; background-image:url(../images/icon1.jpg); background-repeat:no-repeat; background-position:right;  -webkit-appearance: none; -moz-appearance:none; appearance:none; text-transform:uppercase;}
select#cc-store-name {border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px outline:0; box-shadow:none;; -webkit-appearance:none; background-image:url(../images/icon1.jpg); background-repeat:no-repeat; background-position:right;  -webkit-appearance: none; -moz-appearance:none; appearance:none; text-transform:uppercase;}
#cc-store-form-section .form-group.col-sm-4 { width:17%; padding:0;}
#cc-store-form-section .form-group.col-sm-8 { width:35.1%; padding:0 0 0 8px;}
.ur-msg-title .form-group.col-sm-12 h3 {font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f; padding:40px 0 2px 0; text-transform:uppercase;}
textarea.form-control {border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; width:56.5%; height:139px; }
.btn-dn { display:inline-block; background-color:#c32428; padding:8px 18px; border:0; text-align:center; text-decoration:none; width:220px; height:45px; font:bold 18px 'proxima_nova_ltsemibold', sans-serif; color:#fff; text-transform:uppercase; letter-spacing:1px; margin-bottom:15px;}
.btn-dn:hover { background-color:#bc2024;}
.g-recaptcha { margin:9px 0 10px 0; }
#cc-state-form-section .form-group.col-sm-4{ padding:0; margin:0;}
#cc-state-form-section select#cc-state-type-only {border:1px solid #d1ddf1; background-color:#e7edf8; border-radius:0; outline:0; height:35px; width:270px;}
.error_label label { color:#F00 !important;  font-size:14px !important; }
.form-group.col-sm-12.success_message { color: #0fab12; }
.querynow .modal-dialog { width:634px;} 
.querynow .modal-header { padding:18px 29px 24px 22px; border:0; }
.querynow .yd-title h3{font:bold 24px 'proxima_nova_ltsemibold', sans-serif; color:#15489f;}
.flsm-blk, .meroi-blka, .tela-blkb { padding:0; margin:0;}
.flsm-blk .form-group.col-sm-6 label, .meroi-blka .form-group.col-sm-12 label, .tela-blkb .form-group.col-sm-6 label {font:normal 16px 'proxima_nova_rgregular', sans-serif; color:#666666; margin-bottom:10px;}

.flsm-blk .col-sm-6:nth-child(1) { width:46.7%; padding:0; margin:17px 15px 0 0;}
.flsm-blk .col-sm-6:nth-child(2) { width:46.7%; padding:0; margin:17px 15px 0 0;}
.meroi-blka .col-sm-12:nth-child(1) { width:96%; padding:0; margin:0;}
.tela-blkb .col-sm-6:nth-child(1) { width:46.7%; padding:0; margin:17px 0 0 0;}

.flsm-blk .form-group.col-sm-6 .form-control{ border:1px solid #cdd9ed; background-color:#e7edf8; border-radius:0; outline:0; -webkit-box-shadow:none; width:270px; height:35px; }
.meroi-blka .form-group.col-sm-12 label { margin-top:20px;}
.meroi-blka .form-group.col-sm-12 .form-control{ border:1px solid #cdd9ed; background-color:#e7edf8; border-radius:0; outline:0; -webkit-box-shadow:none; width:555px; height:35px; }
.tela-blkb .form-group.col-sm-6 .form-control{ border:1px solid #cdd9ed; background-color:#e7edf8; border-radius:0; outline:0; -webkit-box-shadow:none; width:270px; height:35px; }
.provision-section.col-sm-12 { padding:0;}
#cc-store-form-section .provision-section .form-group.col-sm-4 { width:29%; padding:0; margin:0 8px 0 0;}
#cc-store-form-section .provision-section .form-group.col-sm-8 { width:58.3%; padding:0; margin:0;}
.form-group.col-sm-12 textarea.form-control{ width:96%; height:139px; -webkit-box-shadow:none; outline:0; box-shadow:none;}
.form-control:focus { border-color:#cdd9ed;}